body {
  background-color: grey;
  padding: 3%;
  display: flex;
  flex-direction: column;
  height: 97vh;
}

 #start img {
  width: 90%;
  max-height: 50vh;
}

body>section:not(.active) {
  display: none;
}

nav {
  margin-top: auto;
  height: 3em;
  display: flex;
  width: 100%;
  border-top: 1px solid white;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 50%;
  height: 100%;
}

nav li:first-of-type {
  border-right: 1px solid white;
}

nav a {
  color: white;
}

a:visited {
  color: inherit;
}

nav #backButton {
  display: none;
}

#movieDetail.active~nav li:nth-child(1), #movieDetail.active~nav li:nth-child(2) {
  display: none;
}

#movieDetail.active~nav #backButton {
  display: flex;
  width: 100%
}
